h4: b !{page.type == 'examples'  ? 'Examples:' : 'Other Examples:'}
ul.sidelist
  for child in page.get('/examples').children
    if isActive(child)
      li: a.active(href=child.url) #{child.title}
    else
      li: a(href=child.url) #{child.title}